In [7]:
import pandas as pd

data = pd.DataFrame({
    'col1': [1, 2, 3, 4],
    'col2': [5, 6, 7, 8],
    'col3': [9, 10, 11, 12]
})
print(data)
# 選擇第一列資料
row = data.loc[0]
print(row)

# 選擇第一列和第二列資料
rows = data.loc[[0, 1]]
print(rows)
# 選擇第一列和第二列，以及第一欄和第二欄的資料
subset = data.loc[[0, 1], ['col1', 'col2']]
print(subset)

   col1  col2  col3
0     1     5     9
1     2     6    10
2     3     7    11
3     4     8    12
col1    1
col2    5
col3    9
Name: 0, dtype: int64
   col1  col2  col3
0     1     5     9
1     2     6    10
   col1  col2
0     1     5
1     2     6

In [19]:
import pandas as pd

data = pd.DataFrame({
    'col1': [5, 12, 8, 15],
    'col2': [16, 9, 18, 4],
    'col3': [11, 3, 7, 20]
})
print(data)

# 按照 col1 排序
data.sort_values('col1')

# 按照 col1 和 col2 排序
data.sort_values(['col1', 'col2'])

# 按照 col1 升序排列，col2 降序排列
data.sort_values(['col1', 'col2'], ascending=[True, False])

   col1  col2  col3
0     5    16    11
1    12     9     3
2     8    18     7
3    15     4    20

   col1  col2  col3
0     5    16    11
2     8    18     7
1    12     9     3
3    15     4    20

In [20]:
import pandas as pd

data = pd.DataFrame({
    'col1': [5, 12, 5, 8, 12],
    'col2': [16, 9, 16, 18, 9],
    'col3': [11, 3, 11, 7, 3]
})

# 去除重複資料
data.drop_duplicates()

   col1  col2  col3
0     5    16    11
1    12     9     3
3     8    18     7

In [21]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})

# 檢查缺失值
data.isnull()

    col1   col2   col3
0  False  False  False
1  False  False  False
2  False   True  False
3   True  False  False

In [22]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})

# 檢查非缺失值
data.notnull()

    col1   col2  col3
0   True   True  True
1   True   True  True
2   True  False  True
3  False   True  True

In [23]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})

# 將所有缺失值填充為 0
data.fillna(0)

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   0.0     7
3   0.0   4.0    20

In [27]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'col1': [5, 12, np.nan, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})
print(data)
# 刪除所有含有缺失值的觀測值（列）
data.dropna()

# 刪除含有缺失值大於一定數量的觀測值（列）
data.dropna(thresh=2) # 因為第二筆資料的 np.nan 數量大於 thresh=2，則會被刪除

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   NaN   NaN     7
3   NaN   4.0    20

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
3   NaN   4.0    20

In [33]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'col1': [5, 12, np.nan, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})
print(data)
# 删除包含缺失值的整列
data.dropna(axis=1, inplace=True)

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   NaN   NaN     7
3   NaN   4.0    20

In [34]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})

# 將所有缺失值填充為 0
data.fillna(0, inplace=True)

In [46]:
import pandas as pd

data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})

# 將所有缺失值填充為平均值
data.fillna(data.mean(), inplace=True)

# 將所有缺失值填充為中位數
data.fillna(data.median(), inplace=True)

# 將所有缺失值填充為眾數（data.mode() 回傳結果是一個 df，要用 iloc 取得 series）
data.fillna(data.mode().iloc[0], inplace=True)

        col1       col2  col3
0   5.000000  16.000000    11
1  12.000000   9.000000     3
2   8.000000   9.666667     7
3   8.333333   4.000000    20

In [45]:
import pandas as pd
import numpy as np

data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})

# 將所有缺失值填充為 0
# 將所有缺失值填充為 0
data.fillna(0, inplace=True)
print(data)

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   0.0     7
3   0.0   4.0    20

In [47]:
import pandas as pd

data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})

# 使用插值法填充缺失值
data.interpolate()

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   6.5     7
3   8.0   4.0    20

In [2]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer

data = pd.DataFrame({
    'col1': [5, 12, 8, np.nan],
    'col2': [16, 9, np.nan, 4],
    'col3': [11, 3, 7, 20]
})
print(data)
# 使用 KNN 算法填充缺失值
imputer = KNNImputer(n_neighbors=2)
data_imputed = pd.DataFrame(imputer.fit_transform(data), columns=data.columns)
print(data_imputed)

   col1  col2  col3
0   5.0  16.0    11
1  12.0   9.0     3
2   8.0   NaN     7
3   NaN   4.0    20
   col1  col2  col3
0   5.0  16.0  11.0
1  12.0   9.0   3.0
2   8.0  12.5   7.0
3   8.5   4.0  20.0

In [3]:
import pandas as pd

# 建立一個字典，包含各欄位的資料
data_dict = {'col1': [1, 2, 3, 4],
             'col2': ['A', 'B', 'C', 'D'],
             'col3': [0.1, 0.2, 0.3, 0.4]}

# 使用字典建立一個 dataframe
data = pd.DataFrame(data_dict)

# 查詢每個欄位的類型
print(data.dtypes)

col1      int64
col2     object
col3    float64
dtype: object

In [4]:
import pandas as pd

# 創建一個包含類別欄位的 dataframe
df = pd.DataFrame({
    'id': [1, 2, 3, 4, 5],
    'category': ['A', 'B', 'C', 'A', 'B']
})

print(df)

   id category
0   1        A
1   2        B
2   3        C
3   4        A
4   5        B

In [5]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder


label_encoder = LabelEncoder()
df['category_labelencoded'] = label_encoder.fit_transform(df['category'])

print(df)

   id category  category_labelencoded
0   1        A                      0
1   2        B                      1
2   3        C                      2
3   4        A                      0
4   5        B                      1

#### 2024 Task#04 作業 02：
- Drop missing observations
- Drop rows where all cells in that row is NA
- Create a new column full of missing values
- Fill in missing data with zeros
- Fill in missing in preTestScore with the mean value of preTestScore
- Fill in missing in postTestScore with each sex’s mean value of postTestScore
- Select some rows but ignore the missing data points

In [6]:
import numpy as np
import pandas as pd
raw_data = {'first_name': ['Jason', np.nan, 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', np.nan, 'Ali', 'Milner', 'Cooze'], 
        'age': [42, np.nan, 36, 24, 73], 
        'sex': ['m', np.nan, 'f', 'm', 'f'], 
        'preTestScore': [4, np.nan, np.nan, 2, 3],
        'postTestScore': [25, np.nan, np.nan, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'age', 'sex', 'preTestScore', 'postTestScore'])

print(df)

# (1) Drop missing observations

  first_name last_name   age  sex  preTestScore  postTestScore
0      Jason    Miller  42.0    m           4.0           25.0
1        NaN       NaN   NaN  NaN           NaN            NaN
2       Tina       Ali  36.0    f           NaN            NaN
3       Jake    Milner  24.0    m           2.0           62.0
4        Amy     Cooze  73.0    f           3.0           70.0