In [1]:
import pandas as pd

# 創建一個Series物件
s = pd.Series([1, 3, 5, 7, 9])

print(s)

0    1
1    3
2    5
3    7
4    9
dtype: int64

In [2]:
import pandas as pd

# 創建一個DataFrame物件
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}

df = pd.DataFrame(data)

print(df)

      name  age      city
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47    Berlin

In [3]:
import pandas as pd

# 創建一個Series物件
s = pd.Series([1, 3, 5, 7, 9])

# 訪問Series物件的屬性
print(s.values)   # [1 3 5 7 9]
print(s.index)    # RangeIndex(start=0, stop=5, step=1)
print(s.dtype)    # int64
print(s.shape)    # (5,)

[1 3 5 7 9]
RangeIndex(start=0, stop=5, step=1)
int64
(5,)

In [5]:
import pandas as pd

# 創建一個DataFrame物件
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}

df = pd.DataFrame(data)

# 訪問DataFrame物件的屬性
print(df.values)
print(df.index)    # RangeIndex(start=0, stop=4, step=1)
print(df.columns)  # Index(['name', 'age', 'city'], dtype='object')
print(df.dtypes)
print(df.shape)    # (4, 3)

[['Alice' 25 'New York']
 ['Bob' 32 'Paris']
 ['Charlie' 18 'London']
 ['David' 47 'Berlin']]
RangeIndex(start=0, stop=4, step=1)
Index(['name', 'age', 'city'], dtype='object')
name    object
age      int64
city    object
dtype: object
(4, 3)

In [19]:
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}

df = pd.DataFrame(data)
print(df)
print(df['age'])
print(df[['name', 'city']])

      name  age      city
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47    Berlin
0    25
1    32
2    18
3    47
Name: age, dtype: int64
      name      city
0    Alice  New York
1      Bob     Paris
2  Charlie    London
3    David    Berlin

In [21]:
# 通過行索引選取
print(df[1:4])

      name  age    city
1      Bob   32   Paris
2  Charlie   18  London
3    David   47  Berlin

In [22]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}
df = pd.DataFrame(data)
df.set_index('name', inplace=True)

# 選取 "Alice" 和 "Charlie" 兩行的 "age" 和 "city" 這兩列
result = df.loc[['Alice', 'Charlie'], ['age', 'city']]
print(result)

         age      city
name
Alice     25  New York
Charlie   18    London

In [23]:
import pandas as pd

# 創建一個DataFrame物件
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}
df = pd.DataFrame(data)

# 使用遮罩選取
mask = df['age'] > 30  # 創建一個年齡大於30的遮罩
print(df[mask])

"""
    name  age   city
1    Bob   32  Paris
3  David   47  Berlin
"""

    name  age    city
1    Bob   32   Paris
3  David   47  Berlin

'\n    name  age   city\n1    Bob   32  Paris\n3  David   47  Berlin\n'

In [24]:
import pandas as pd

# 創建一個DataFrame物件
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}
df = pd.DataFrame(data)

# 使用多個條件組合使用遮罩選取
mask = (df['age'] > 30) & (df['city'] == 'Paris')  # 創建一個年齡大於30且城市為Paris的遮罩
print(df[mask])

  name  age   city
1  Bob   32  Paris

In [26]:
import pandas as pd

# 創建兩個DataFrame物件
data1 = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
         'age': [25, 32, 18, 47],
         'city': ['New York', 'Paris', 'London', 'Berlin']}
df1 = pd.DataFrame(data1)

data2 = {'name': ['Eva', 'Frank', 'Grace', 'Henry'],
         'age': [29, 23, 37, 31],
         'city': ['Rome', 'Sydney', 'Tokyo', 'Moscow']}
df2 = pd.DataFrame(data2)

# 進行加法
print(df1)
print(df2)
print(df1 + df2)

      name  age      city
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47    Berlin
    name  age    city
0    Eva   29    Rome
1  Frank   23  Sydney
2  Grace   37   Tokyo
3  Henry   31  Moscow
           name  age          city
0      AliceEva   54  New YorkRome
1      BobFrank   55   ParisSydney
2  CharlieGrace   55   LondonTokyo
3    DavidHenry   78  BerlinMoscow

In [27]:
import pandas as pd

# 創建一個DataFrame物件
data = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
        'age': [25, 32, 18, 47],
        'city': ['New York', 'Paris', 'London', 'Berlin']}

df = pd.DataFrame(data)

# 按照age列進行排序，預設為升序排序
print(df.sort_values(by='age'))

      name  age      city
2  Charlie   18    London
0    Alice   25  New York
1      Bob   32     Paris
3    David   47    Berlin

In [28]:
# 按照age列進行降序排序
print(df.sort_values(by='age', ascending=False))

      name  age      city
3    David   47    Berlin
1      Bob   32     Paris
0    Alice   25  New York
2  Charlie   18    London

In [29]:
# 按照索引進行排序
print(df.sort_index())

      name  age      city
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47    Berlin

In [30]:
import pandas as pd

# 創建兩個DataFrame物件
data1 = {'name': ['Alice', 'Bob', 'Charlie', 'David'],
         'age': [25, 32, 18, 47],
         'city': ['New York', 'Paris', 'London', 'Berlin']}
df1 = pd.DataFrame(data1)

data2 = {'name': ['Eva', 'Frank', 'Grace', 'Henry'],
         'age': [29, 23, 37, 31],
         'city': ['Rome', 'Sydney', 'Tokyo', 'Moscow']}
df2 = pd.DataFrame(data2)
# 沿著列軸合併
print(pd.concat([df1, df2], axis=0))

      name  age      city
0    Alice   25  New York
1      Bob   32     Paris
2  Charlie   18    London
3    David   47    Berlin
0      Eva   29      Rome
1    Frank   23    Sydney
2    Grace   37     Tokyo
3    Henry   31    Moscow

In [55]:
import pandas as pd

data = {'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma', 'Frank'],
        'age': [25, 32, 18, 47, 23, 31],
        'gender': ['female', 'male', 'female', 'male', 'female', 'male'],
        'city': ['New York', 'Paris', 'London', 'Berlin', 'New York', 'Paris'],
        'salary': [50000, 80000, 25000, 100000, 35000, 75000]}
df = pd.DataFrame(data)
print(df)

      name  age  gender      city  salary
0    Alice   25  female  New York   50000
1      Bob   32    male     Paris   80000
2  Charlie   18  female    London   25000
3    David   47    male    Berlin  100000
4     Emma   23  female  New York   35000
5    Frank   31    male     Paris   75000

In [56]:
grouped = df.groupby('city')
result = grouped.agg({'name': 'count', 'age': 'mean', 'salary': 'mean'})
print(result)

          name   age    salary
city
Berlin       1  47.0  100000.0
London       1  18.0   25000.0
New York     2  24.0   42500.0
Paris        2  31.5   77500.0

##### Homework 01

In [50]:
import pandas as pd
import numpy as np
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
#print(df)
# - 1. filtered by first column > 20?

q1 = df[0] > 20
print(df[q1])

# - 2. filtered by first column + second column > 50
Q2 = df[0] + df[1] > 50
print(df[Q2])

# - 3. filtered by first column < 30 or second column > 30
F3 = (df[0]  <30) |  (df[1] > 30)
print(df[F3])

# - 4. filtered by total sum of row > 100
mask4 = df.sum(axis=1) > 100
print(df[mask4])

     0   1   2   3
0   25  24  28  12
1   39  28  28  13
4   21  29  34  33
5   25  39  18  37
9   39  11  36  14
10  26  17  13  29
12  32  39  24  36
13  34  29  14  11
14  28  15  11  21
     0   1   2   3
1   39  28  28  13
2   18  37  16  21
5   25  39  18  37
12  32  39  24  36
13  34  29  14  11
     0   1   2   3
0   25  24  28  12
2   18  37  16  21
3   19  26  35  20
4   21  29  34  33
5   25  39  18  37
6   12  10  18  21
7   14  20  28  10
8   13  37  30  14
10  26  17  13  29
11  11  31  19  34
12  32  39  24  36
14  28  15  11  21
     0   1   2   3
1   39  28  28  13
4   21  29  34  33
5   25  39  18  37
12  32  39  24  36

##### Homework 02

In [60]:
import pandas as pd
import numpy as np

d = [
    {'city': 'Austin', 'visitor': 139, 'weekday': 'Sun'},
    {'city': 'Dallas', 'visitor': 237, 'weekday': 'Sun'},
    {'city': 'Austin', 'visitor': 326, 'weekday': 'Mon'},
    {'city': 'Dallas', 'visitor': 456, 'weekday': 'Mon'}
]
df = pd.DataFrame(d)
grouped = df.groupby('weekday')
result = grouped.agg({'visitor':'sum'})
print(result)

         visitor
weekday
Mon          782
Sun          376

##### Homework 03

In [66]:
import pandas as pd

# 讀取CSV文件
data = pd.read_csv('https://raw.githubusercontent.com/kiang/pharmacies/master/data.csv')
top_5 = data.groupby('縣市')
result_top_5 = top_5.agg({'醫事機構名稱' : 'count'}).sort_values(by = '醫事機構名稱', ascending=False)
print(result_top_5[0:5])

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x00000243B714B050>
     醫事機構名稱
縣市
新北市    1256
臺中市     855
臺北市     780
高雄市     718
桃園市     670